@model IEnumerable<azure_ad_b2b_services.AppTenantRepo.AppTenant>
@{
    ViewData["Title"] = "Tenants";
}
<h2>List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
@if (!Model.Any())
{
    <h3>No tenants yet. Add one!</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenantId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InviteSent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvitedBy)
                </th>
                <th>@Html.DisplayNameFor(model => model.InviteRedeemUrl)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InviteSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvitedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InviteRedeemUrl)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}